<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="Amazon.Listeners"></listener>
</listeners>
  <test thread-count="5" name="Navigation test">
    <classes>
      <class name="Amazon.NevigationTest"/>
    </classes>
  </test>
  <test thread-count="5" name="login wrong email test">
    <classes>
      <class name="Amazon.OrderLoginTestWithWorngEmail"/>
    </classes>
  </test>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Amazon.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
